<nav class="navbar navbar-expand-lg navbar-light" id="backgrouncolornavbar">
    <div class="container-fluid">
        <a class="nav-link navmenu" href="/">Toplocataire</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="menuItems"></ul>
        </div>
    </div>
</nav>

<style>
.navmenu { font-family: "Work Sans", sans-serif; color: black;}
#backgrouncolornavbar { 
background-color:white;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
}
.navbar-logo, .navbar-link { display: flex; align-items: center; }
</style>

<script>
const menuUl = document.getElementById('menuItems');

const menuItems = [ 
    { text: 'Accueil', link: '/' },
  
    { text: 'Mon profil public', link: '/myprofile', condition: {{ app.user ? 'true' : 'false' }} },
    { text: 'Editer mon profil', link: '/edit-my-profile', condition: {{ app.user ? 'true' : 'false' }} },
    { text: 'Me déconnecter', link: '{{ path('app_logout') }}', condition: {{ app.user ? 'true' : 'false' }} },
    
    { text: 'Admin', link: '/admin', condition: '{{ is_granted('ROLE_ADMIN') }}' },

    { text: 'Vos avis', link: '/dashboardavis', condition: '{{ is_granted('ROLE_AGENCY') }}' },
    { text: 'Rechercher un locataire', link: '/search', condition:'{{ is_granted('ROLE_AGENCY') }}' },

    { text: 'Se connecter', link: '/login', condition:          {{ app.user ? 'false' : 'true' }} },
    { text: 'Créer un compte', link: '/register', condition: {{ app.user ? 'false' : 'true' }} }
];

menuItems.forEach(item => {
    if (item.condition) {
        const li = document.createElement('li');
        li.classList.add('nav-item');
        const a = document.createElement('a');
        a.classList.add('nav-link', 'navmenu', 'navbar-link');
        a.href = item.link;
        if (item.text === 'Se connecter' || item.text === 'Créer un compte') {
            a.classList.add('navbar-link');
        }
        if (item.text === 'Se connecter') {
            a.innerHTML = `<span class="material-symbols-outlined">person</span> ${item.text}`;
        } else {
            a.textContent = item.text;
        }
        li.appendChild(a);
        menuUl.appendChild(li);
    }
});
</script>
