{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">


				<h1 class="text-center mb-4">Modifier votre Profil</h1>

				{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
				{# Début formulaire locataire #}


				<div class="form-group">

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.email) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.plainPassword, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.plainPassword) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.first_name, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.first_name) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.last_name, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.last_name) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.presentation, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.presentation) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.telephone, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.telephone) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.address, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.address) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.employement_status, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.employement_status, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.employement_status) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.net_income, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.net_income, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.net_income) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.guarantee, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.guarantee, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.guarantee) }}
					{% endif %}

					{% if 'ROLE_LOCATAIRE' in app.user.roles %}
						{{ form_label(form.brochure, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.brochure, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.brochure) }}
					{% endif %}

				</div>

				{# Fin  formulaire locataire #}


				{# Début   formulaire agence #}
				<div class="form-group">

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.email) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.plainPassword, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.plainPassword) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.telephone, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.telephone) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.address, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.address) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.nom_agence, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.nom_agence, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.nom_agence) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.carte_professionnelle, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.carte_professionnelle, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.carte_professionnelle) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.siren, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.siren, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.siren) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.siret, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.siret, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.siret) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.kbis, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.kbis, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.kbis) }}
					{% endif %}

					{% if 'ROLE_AGENCY' in app.user.roles %}
						{{ form_label(form.brochure, null, {'label_attr': {'class': 'control-label'}}) }}
						{{ form_widget(form.brochure, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.brochure) }}
					{% endif %}

				</div>

				{# Fin  formulaire agence  #}






				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary">Mettre à jour</button>
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	</div>

{% endblock %}
