{% extends 'base.html.twig' %}

{% block title %}Inscription Agence
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}

				<h1 class="text-center mb-4">Inscription agence</h1>
				{{ form_errors(registrationForm) }}


				{{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}

				{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'form-control'}
                }) }}

				{{ form_row(registrationForm.profilePicture, {'label': 'Profile Picture', 'attr': {'class': 'form-control'}}) }}



				{{ form_row(registrationForm.telephone, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.address, {'attr': {'class': 'form-control'}}) }}

				{{ form_row(registrationForm.nom_agence, {'attr': {'class': 'form-control'}}) }}

				{{ form_row(registrationForm.carte_professionnelle, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.siren, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.siret, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.kbis, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check'}}) }}

				 

				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-primary btn-block">Register</button>
				</div>

				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
