{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}

				<h1 class="text-center mb-4">Inscription locataire</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}  
				{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.plainPassword, {'label': 'Mots de passe','attr': {'class': 'form-control'} }) }}
				{{ form_row(registrationForm.presentation, {'label': 'Présentation', 'attr': {'class': 'form-control'}   }) }}
				{{ form_row(registrationForm.first_name, {'label': 'Prénom','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.last_name, {'label': 'Nom','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.telephone, {'label': 'Téléphone','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.address, {'label': 'Adresse','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.employement_status, {'label': 'Statut','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.net_income, {'label': 'Revenus nets (avant impôts)/Mois','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.guarantee, {'label': 'Garantie','attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.profilePicture, {'label': 'Profile Picture', 'attr': {'class': 'form-control'}}) }}
				{{ form_row(registrationForm.agreeTerms, {'label': "J'accepte les conditions générales", 'attr': {'class': 'form-check'}}) }}

				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-primary btn-block">Register</button>
				</div> 
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
