{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <style>
        #titleformregister {
            margin-top: 60px;
            margin-bottom: 20px;
                        font-family: "Work Sans", sans-serif;

        }
        #btnsubregister {
            margin-top: 20px;
            margin-bottom: 20px;
            
        }
        .left-image {
            width: calc(100% - 40px); 
            height: 100vh;
            object-fit: cover;
            object-position: center;
            display: block;
            margin: 0 auto; 
        }
        .left-column {
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center; 
            padding: 0;
            overflow: hidden;
        }
        .right-column {
            padding: 20px;
        }

        #pagelocataire{
                      font-family: "Work Sans", sans-serif;

        }
        #ctaPro{
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); 
          background-color:white;

        }

        #btnregister{
            background-color: #1432BE;
        color:white;
        border-color : #1432BE;
        }

        #btnproregister{
            background-color: #1432BE;
        color:white;
        border-color : #1432BE;
        }
    </style>

    <div class="container-fluid" id="pagelocataire">
        <div class="row">
            <div class="col-md-6 p-0 left-column">
                <!-- Card -->
                <div class="card text-center  mb-5" id="ctaPro">
                    <div class="card-body">
                        <p class="card-text">Vous êtes une agence immobilière ? </p>
                        <a href="/registeragence" class="btn btn-primary" id="btnproregister">M'inscrire</a>
                    </div>
                </div>
                <!-- Your image and h1 title -->
                <img src="{{ asset('images/Registerlocataire/LocationRegister.jpg') }}" alt="Locataire Image 1" class="img-fluid left-image">
            </div>
            <div class="col-md-6 right-column">
                <h1 id="titleformregister" class="mb-5 text-uppercase">Inscription locataire</h1>
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_row(registrationForm._token) }}

                <!-- Form fields -->
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            {{ form_row(registrationForm.email, {'label': 'Email','attr': {'class': 'form-control form-control-lg', 'id': 'form3Example1m'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            {{ form_row(registrationForm.plainPassword, {'label': 'Mots de passe', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example1n'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            {{ form_row(registrationForm.first_name, {'label': 'Prénom','attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            {{ form_row(registrationForm.last_name, {'label': 'Nom','attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {{ form_row(registrationForm.address, {'label': 'Adresse', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example8'}}) }}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {{ form_row(registrationForm.telephone, {'label': 'Téléphone', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example8'}}) }}
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            {{ form_row(registrationForm.employement_status, {'label': 'Statut','attr': {'class': 'form-control form-control-lg', 'id': 'form3Example1m'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            {{ form_row(registrationForm.net_income, {'label': 'Revenus nets (avant impôts)/Mois', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example1n'}}) }}
                        </div>
                    </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {{ form_row(registrationForm.presentation, {'label': 'Présentation', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example8'}}) }}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {{ form_row(registrationForm.guarantee, {'label': 'Garantie', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example8'}}) }}
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    {{ form_row(registrationForm.profilePicture, {'label': 'Photo de profil', 'attr': {'class': 'form-control form-control-lg', 'id': 'form3Example8'}}) }}
                </div>

                {{ form_row(registrationForm.agreeTerms, {'label': "J'accepte les conditions générales", 'attr': {'class': 'form-check'}}) }}

                <!-- Submit button -->
                <div class="d-grid gap-2" id="btnsubregister">
                    <button type="submit" class="btn btn-primary btn-block" id="btnregister">S'inscrire</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
