{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 text-center">
				<h1 style="font-family: 'Work Sans', sans-serif; color: white; margin-top: 50px; margin-bottom: 10px;">
					Rechercher un locataire</h1>
				<h2 style="font-family: 'Work Sans', sans-serif; color: white; margin-top: 30px; margin-bottom: -30px;">
					Tout commence par une bonne recherche</h2>

				<div class="center-container">
					{{ form_start(searchForm, {'attr': {'class': 'form', 'id': 'formsearch'}}) }}
					{{ form_row(searchForm._token) }}
					<div class="card custom-card" style="font-family: 'Work Sans', sans-serif; color: white;">
						<div class="card-body">
							<div class="input-group">
								{{ form_widget(searchForm.email, { attr: { class: 'form-control mr-sm-2 input-email', placeholder: 'Rechercher par email' }}) }}
								<button type="submit" class="btn btn-primary" style="font-family: 'Work Sans', sans-serif; color: white;">{{ 'Rechercher'|trans }}</button>
							</div>

						</div>
					</div>
				</div>

				{% if users is not empty %}
					<div class="mt-4" id="listusergroup">
						<ul class="list-group justify-content-center align-items-center" style="font-family: 'Work Sans', sans-serif; color: white;">
							{% for user in users %}
								<li class="list-group-item d-flex justify-content-between align-items-center" id="cinq">
									{{ user.email }}
									<a href="{{ path('app_profile', {'id': user.id}) }}" class="btn btn-primary" style="font-family: 'Work Sans', sans-serif; color: white;">Consulter le profil</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

	<style>
		.center-container {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 70vh; /* Ajustez la hauteur selon vos besoins */
			
		}

		.custom-card {
			background-color: white;
			width: 800px; /* Modifier la largeur de la carte */
			    border-width: 1px; /* Exemple de largeur de bordure */
    border-style: solid; /* Style de bordure, peut être solid, dashed, etc. */
    border-color: black; /* Couleur de la bordure */
		}

		.card-body {
			background-color: white;
			margin-top: 40px;
			margin-bottom: 40px;
		
		}
		#cinq {
			width: 800px;
			height: 100px;
			margin-top: -120px;
			margin-bottom: 50px;
		}


		body {
			background-image: url('images/Search/search1.jpg'); /* Remplacez par le chemin réel de votre image */
			background-size: cover; /* Pour couvrir tout l'écran */
			background-repeat: no-repeat; /* Empêche la répétition de l'image */
			background-attachment: fixed; /* Fixe l'image lors du défilement */

		}
	</style>

{% endblock %}
